/* This is a CSS comment */
/* ? question comment */
/* ! alert comment */
/* TODO comment */
/* * another regular comment */



body {
    background-color: steelblue;
}
h1 {
    color: navy;
    background-color: white;
    padding: 1rem;
}
ul {
    font-family: 'Courier New', Courier, monospace;
}