html{
  scroll-behavior: smooth;
}
body {
  background-color: #ff5252;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: white;
  border: 1px solid red;
  padding: 1rem;
}

#pageheader {
  background-color: coral;
  min-height: auto;
  padding: 1rem;
  text-align: center;
}
#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url(Images/PortfolioLogo/brlogo.png);
}
#pageheader .container {
  background-color: none;
  min-height: auto;
}
#media {
  background-color: lightblue;
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/hero.png);
  background-size: cover;
  aspect-ratio: 16/9;
}
#pagecontent {
  background-color: cornflowerblue;
  min-height: 10rem;
  padding: 1rem;
}
blockquote 
{
  background-color:red;
  padding:1rem;
  width:30%;
  margin:0 auto;
  font-size:1.25rem;
}
blockquote + span{
  padding:1rem;
  display:block;
  width:30%;
  margin: 0 auto;
  text-align:right;
}
span
{
 background-color:blue;  
}
#career {
  background-color: aqua;
  min-height: 10rem;
  padding: 1rem;
}
#semester1 {
  background-color: lavender;
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: darkslateblue;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: lightskyblue;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  text-align: center;
  min-height: auto;
}
#subfooter {
  background-color: royalblue;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  display: block;
  margin: auto;
  background-color: red;
  border: 5px solid red;
}
a {
  color:blue ;
}
a:hover{
  color:red;
  transition: all 1s;
}
